<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>Contact</title>
</head>
<body>
    <% include partials/nav.ejs %>
    <cite>Your request has been successfully sent!</cite>
    <p> <%= data.person %> </p>
    <p> <%= data.department %> </p>
    <p> <%= data.email %> </p>
</body>
</html>