<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="assets/styles.css">
    <title>Node App</title>
</head>
<body>
    <% include partials/nav.ejs %>
    <cite>Under preassure!</cite>
</body>
</html>